@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100%;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* Joga todas as letras para maisculas ---> text-transform: uppercase; */
    /* Interessante como fica as letras  */
    font-variant: small-caps; 
    padding-bottom: 50px;
}

header a, footer a {
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section { /*Desse jeito quando diminiu ele ja se adequa*/
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}


section.imagem {
    background-color: rgb(27, 25, 25);
    color:white
}

section.imagem > p {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.425);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}



